.login {
  width: 100%;
}
.form {
  position: relative;
  z-index: 1;
  background: #fff;
  width: 360px;
  margin: 50px auto 50px;
  padding: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login-btn {
  text-align: center;
}
